:root {
    --bs-light-rgb: 248, 249, 250;
    --bs-bg-opacity: 0.85;
}



::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track,
::-webkit-scrollbar{
    display: none;
}
    

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

header {
    background-color: rgba(7, 167, 247, 0.524);
    display: flex;
    align-items: center;
    justify-content: start;
}

header * {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;

}

.leaflet-popup-close-button {
    display: none;
}

.leaflet-popup-content-wrapper {
    color: rgba(0, 0, 0, 1) !important;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.leaflet-popup-content {
    color: rgba(0, 0, 0, 1) !important;

}

.leaflet-popup-tip {
    background-color: rgba(255, 255, 255, 0.3);
}

.leaflet-bar{
    display: none;
}