body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        #map {
            height: 100%;
            width: 100%;
        }

        .custom-popup {
          background-color: rgb(6, 145, 237); /* Azul */
          color: white; /* Texto blanco */
          border: 3px solid #ffffff;
          border-radius: 10px;
          padding: 10px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          opacity: 0; /* Inicialmente oculto */
          transform: scale(0.5); /* Reducir el tamaño a la mitad */
          transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out; /* Transición suave de opacidad y transformación */
      }
      

/* Mostrar el popup al agregar la clase "show" */
.custom-popup.show {
    opacity: 1;
}

